@using Microsoft.FluentUI.AspNetCore.Components
@implements IDialogContentComponent<PanelOptions>

<nav class="nav flex-column">
    <NavigationMenu>
        <NavigationMenuItem Href=""
                            Icon="Icons.Size20.Home"
                            Match="NavLinkMatch.All">
            Home
        </NavigationMenuItem>
        <NavigationMenuItem Href="counter"
                            Icon="Icons.Size20.Counter">
            Counter
        </NavigationMenuItem>
        <NavigationMenuItem Href="weather"
                            Icon="Icons.Size20.List">
            Weather
        </NavigationMenuItem>
        <NavigationMenuItem Href="auth"
                            Icon="Icons.Size20.Shield">
            Auth Required
        </NavigationMenuItem>

        <AuthorizeView>
            <Authorized>

                <NavigationMenuItem Href="Account/Manage"
                                    Icon="Icons.Size20.PersonAccounts">
                    @context.User.Identity?.Name
                </NavigationMenuItem>

                <NavigationMenuItem Href="Administration/Users"
                                    Icon="Icons.Size20.People">
                    Users
                </NavigationMenuItem>

                <NavigationMenuItem Href="Administration/Roles"
                                    Icon="Icons.Size20.HatGraduation">
                    Roles
                </NavigationMenuItem>

            </Authorized>
            <NotAuthorized>

                <NavigationMenuItem Href="Account/Register"
                                    Icon="Icons.Size20.PersonAdd">
                    Register
                </NavigationMenuItem>


                <NavigationMenuItem Href="Account/Login"
                                    Icon="Icons.Size20.Signature">
                    Login
                </NavigationMenuItem>

            </NotAuthorized>
        </AuthorizeView>
    </NavigationMenu>
</nav>

@code {
    [Parameter]
    public PanelOptions Content { get; set; } = default!;
}
