@using Microsoft.FluentUI.AspNetCore.Components
@implements IDialogContentComponent<PanelOptions>

<nav class="nav flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="weather">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="auth">
            <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
        </NavLink>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account/Manage">
                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                </NavLink>
            </div>
            <LogoutSubmit />

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Administration/Users">Users</NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Administration/Roles">Roles</NavLink>
            </div>

        </Authorized>
        <NotAuthorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account/Register">
                    <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account/Login">
                    <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</nav>

@code {
    [Parameter]
    public PanelOptions Content { get; set; } = default!;
}
