@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row">
            <LeftSidePanelButton />
            <HorizontalStack Width="StackWidth.FitContent">
                <a href="https://github.com/BrianLParker/PBACTemplate" target="_blank">About</a>
                <RightSidePanelButton />
            </HorizontalStack>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<AppProviders />