@page "/weather"
@attribute [StreamRendering]
<AppPageHeader Title="Weather" />
<p>This component demonstrates showing data.</p>
@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="grid">
        <div class="head">Date</div>
        <div class="head" aria-label="Temperature in Celsius">Temp. (C)</div>
        <div class="head" aria-label="Temperature in Fahrenheit">Temp. (F)</div>
        <div class="head">Summary</div>
        @foreach (var forecast in forecasts)
        {
            <div>@forecast.Date.ToShortDateString()</div>
            <div>@forecast.TemperatureC</div>
            <div>@forecast.TemperatureF</div>
            <div>@forecast.Summary</div>
        }
    </div>
}
