@page "/counter"
@rendermode InteractiveAuto

<AppPageHeader Title="Counter" />

<p role="status">Current count: @currentCount</p>

<AppButton Appearance="ButtonAppearance.Primary"
           Onclick="IncrementCount">
    Click me
</AppButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
